@import "tailwindcss";
@import "./styles/fonts.css";

@plugin "@tailwindcss/forms" {
  /* strategy: "base"; only generate global styles; or */
  strategy: "class"; /* only generate classes */
}

@theme {
  /* font */
  --font-sans: Vazirmatn, sans-serif;
  /* color */
  --color-brand-primary: rgb(255, 227, 26);
  --color-border: rgb(117, 138, 147);
  --color-background: rgb(244, 246, 255);
  --color-success: rgb(0, 192, 75);
  --color-danger: rgb(197, 22, 5);
  --color-font-primary: rgb(34, 34, 34);
}

/* rgb(250, 254, 255) */

@layer base {
  h1 {
    @apply text-6xl font-black;
  }
  h2 {
    @apply text-5xl font-extrabold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

@layer components {
  .textField__input {
    @apply w-full bg-white py-2 px-4 rounded-lg border border-solid border-border hover:border-font-primary hover:shadow-lg  placeholder:text-sm transition-all duration-300 ease-in-out;
  }

  .textField__label {
    @apply text-sm font-semibold text-font-primary;
  }

  .radio__input {
    @apply form-radio text-brand-primary focus:ring-brand-primary size-4 cursor-pointer;
  }

  .btn {
    @apply px-3 py-2 font-semibold rounded-lg cursor-pointer transition-all duration-300 ease-in-out text-font-primary;
  }

  .btn--primary {
    @apply bg-brand-primary hover:opacity-90 hover:shadow-lg;
  }
}

html,
body {
  user-select: none;
  scroll-behavior: smooth;
}

* {
  outline: none;
  /* color: var(--color-font-primary); */
  /* color: rgb(0, 192, 75); */
}

.spinner__item {
  @apply rounded-full bg-brand-primary;
}
